body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100vh;
    background-color: #1e20caeb;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 2000ms ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-screen .info {
  text-align: center;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#hora {
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  font-weight: 500;
}

#data {
  font-size: px;
  margin-top: 10px;
  font-weight: 500;
}

.tela_welcome {
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
  height: 100%;
  width: 100%;
}